<footer class="site-footer">
  <div class="container site-footer__inner">
    <span class="site-footer__name">{{ site.title }}</span>
    <span class="site-footer__copy">&copy; {{ site.year }} {{ site.author }}</span>
  </div>
</footer>
